a{
  display: inline;
  text-decoration: none;
  color: gray;
  padding: 10px;
  background-color: black;
  text-align: center;
  margin: 0;
}
#header{
  text-align: center;
  padding: 20px;
  background-color: black;
  margin: 0;
}
